body{
    font-family: 'open-sans', arial, sans-sarif; 
}﻿

.field-validation-error{
    color: red;

}

.field-validation-valid{
    display: none;
}

.input-validation-error{
    border: 1px solid red;
    background-color: #ffeeee
}

.validation-summary-errors{
    font-weight: bold;
    color: red;
}

th, td{
    text-align: center;
}

td button{
    font-weight: bold !important;
}

.panel-head-checks input[type=checkbox]{
    transform: scale(1.5);  
}

.panel-head-checks input {
    vertical-align: middle;
    margin-top: 0px;
    height: 20px;
}
.panel-head-checks label span {
  vertical-align: middle;
}